@import './../../../scss/base/_vars.scss';

.login-with {

    &--booking {
        .login-with__header {
            margin-bottom: 24px;
        }

        .login-with__text {
            background-color: #FFF;
        }
    }
}

.login-with__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: transparentize($black, calc(1 - 0.25));
    }
}

.login-with__text {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    background-color: $background;
    font-size: 14px;
    color: transparentize($black, calc(1 - 0.4));
    z-index: 9;
}

.login-with__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    row-gap: 16px;
}

.login-with-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    flex-shrink: none;
    height: 56px;
    border: 1px solid $main;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;

    &:hover{
        background-color: $main;
    }
}
