@import './../../../scss/base/_vars.scss';

.reviews-section-card {
    display: flex;
    flex-direction: column;

    position: relative;
    flex-shrink: 0;

    margin-right: 26px;
    margin-bottom: 26px;

    padding: 24px;

    width: 425px;
    height: 582px;

    background: #FFF;
    box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.1);
    border-radius: 20px;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(26px, 26px);
        width: 425px;
        height: 582px;
        background-color: #CDEAE1;
        border-radius: 20px;
        z-index: -1;
    }
}

.reviews-section-card__content {
    margin-bottom: 16px;
}

.reviews-section-card__title {
    margin-bottom: 16px;
    min-height: 80px;
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 24px;
}

.reviews-section-card__text {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    color: transparentize($black, calc(1 - 0.5));
}

.reviews-section-card__link {
    display: block;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
}

.reviews-section-card__stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 20px;
}

.reviews-section-card__author {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
}

.reviews-section-card__place {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    color: transparentize($black, calc(1 - 0.5));
}

.reviews-section-card__google-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    font-weight: 700;
    font-size: 12px;
    color: transparentize($black, calc(1 - 0.4));
}

.reviews-section-card__image {
    margin-top: auto;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}