@import './../../../scss/base/_vars.scss';
@import './../../../scss/base/_mixins.scss';

.footer-nav {
    display: flex;
    justify-content: flex-end;
    margin: -12px;
    width: 100%;

    @include bp(1000px) {
        flex-wrap: wrap;
        max-width: 510px;
    }

    @include bp(700px) {
        justify-content: flex-start;
        max-width: 100%;
    }
}

.footer-nav__column {
    padding: 12px;
    width: 170px;

    @include bp(700px) {
        width: calc(100% / 3);
    }

    @include bp(600px) {
        width: 50%;
    }

    @include bp(400px) {
        width: 100%;
    }
}

.footer-nav__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
}

.footer-nav__list {
    font-weight: 500;
    font-size: 14px;
    color: transparentize($black, calc(1 - 0.7));
}

.footer-nav__item:not(:last-child) {
    margin-bottom: 12px;
}