@import './../../../scss/base/_vars.scss';

.footer {
    position: relative;
    padding-top: calc(150px + 120px);
}

.footer__background {
    padding-top: 220px;
    padding-bottom: 64px;
    background-color: $main;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__left {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

// .footer__right {}

.footer__form-wrapper {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}