@import './../../../scss/base/_vars.scss';
@import './../../../scss/base/_mixins.scss';

.footer {
    position: relative;
    padding-top: calc(150px + 120px);
}

.footer__background {
    padding-top: 220px;
    padding-bottom: 64px;
    background-color: $main;
}

.footer__row {
    display: flex;
    margin: -12px;

    @include bp(700px) {
        flex-direction: column;
    }
}

.footer__left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 8px;
    padding: 12px;
}

.footer__right {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    width: 100%;

    @include bp(700px) {
        justify-content: flex-start;
    }
}

.footer__form-wrapper {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}