.account-cover {
    position: relative;
    padding-top: 48px;
    padding-bottom: 171px;
}

.account-cover__background {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.account-cover__upload-button {
    position: absolute;
    right: 26px;
    bottom: 26px;
}

.account-cover__user {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 241px;
    width: 185px;
    text-align: center;
}

.account-cover__user-avatar {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}

.account-cover__user-avatar-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid $accent;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.account-cover__user-avatar-edit-button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $accent;
}

.account-cover__user-name {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
}

.account-cover__user-email {
    font-size: 16px;
    color: transparentize($color: $black, $amount: calc(1 - 0.75))
}