.hotel-reviews {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.hotel-reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-reviews__title {
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 20px;
}

.hotel-reviews__total-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
}

.hotel-reviews__total-rating-number {
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 50px;
}

.hotel-reviews__total-rating-description {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &>*:first-child {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
    }
}

.hotel-reviews__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.hotel-reviews__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 16px;
    padding-top: 24px;
    border-top: 0.5px solid transparentize($color: $black, $amount: calc(1 - 0.25));

    &:last-child {
        padding-bottom: 24px;
        border-bottom: 0.5px solid transparentize($color: $black, $amount: calc(1 - 0.25));
    }
}

.hotel-reviews__item-image {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;

    img{
        @include image-fit(cover);
    }
}

.hotel-reviews__item-content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.hotel-reviews__item-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

.hotel-reviews__item-rating {
    font-weight: 600;
}

.hotel-reviews__item-flag {
    margin-left: auto;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

.hotel-reviews__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    span {
        width: 24px;
        height: 24px;
    }
}