@import './../../scss/base/_mixins.scss';

.booking {
    padding-top: 48px;
}

.booking__nav {
    margin-bottom: 30px;
}

.booking__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 40px;

    @include bp(900px) {
        flex-direction: column-reverse;
        row-gap: 40px;
    }
}

.booking__left {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    flex-basis: 68%;
}

.booking__right {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    flex-basis: 32%;

}