.booking {
    padding-top: 48px;
}

.booking__nav {
    margin-bottom: 30px;
}

.booking__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 40px;
}

.booking__left {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 790px;
}

.booking__right {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: calc(100% - 790px - 40px);
}

