@import './../../scss/base/_mixins.scss';

.sign-up {
    padding-top: 104px;
    padding-bottom: 104px;

    .input__label {
        background-color: $background;
    }
}

.sign-up__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 104px;

    @include bp(1000px) {
        column-gap: 44px;
    }
}

.sign-up__left {
    flex-basis: 42.6%;

    @include bp(700px) {
        display: none;
    }
}

.sign-up__right {
    flex-basis: 57.4%;

    @include bp(700px) {
    flex-basis: 100%;
    }
}

.sign-up__logo {
    margin-bottom: 64px;
}

.sign-up__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}