.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #FFF;
    border: 2px dashed #8DD3BB;
}

.add-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}

button.add-card__button {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid $main;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20px;
        width: 2px;
        background-color: $main;
    }

    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.add-card__text {
    font-weight: 500;
    font-size: 12px;
}