.filter-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &:not(:last-child) {
        padding-bottom: 32px;
        border-bottom: 1px solid transparentize(#112211, calc(1 - 0.25))
    }
}

.filter-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-item__title {
    font-weight: 600;
    font-size: 16px;
    color: $black;
}

.filter-item__button {
    width: 24px;
    height: 24px;

    &.active{
        transform: rotate(180deg);
    }
}

.filter-item__content {
    display: flex;

    &--column {
        flex-direction: column;
        row-gap: 8px;
    }

    &--row {
        flex-direction: row;
        column-gap: 16px;
    }
}