.flight-ticket {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 32px 24px;
    border-radius: 12px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.flight-ticket__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-ticket__title {
    max-width: 500px;
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 24px;
}

.flight-ticket__content {
    display: flex;
    flex-direction: column;
}

.flight-ticket__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.flight-ticket__date {
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 20px;

    &--booking-page {
        font-size: 16px;
    }
}

.flight-ticket__duration {
    font-weight: 500;
    font-size: 20px;
}

.flight-ticket__content-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.flight-ticket__airline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
    padding: 16px 32px;
    background: #FFF;
    border: 0.5px solid #8DD3BB;
    border-radius: 8px;
}

.flight-ticket__airline-logo {
    width: 64px;
    height: 54px;

    img {
        @include image-fit(contain);
    }
}

.flight-ticket__airline-text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &>*:first-child {
        font-weight: 600;
        font-size: 24px;
    }

    &>*:last-child {
        font-weight: 500;
        @include gray-color(0.6);
    }
}

.flight-ticket__service-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.flight-ticket__service-item {
    padding: 12px 24px;
    border-right: 1px solid transparentize($color: $black, $amount: calc(1 - 0.25));

    &:last-child {
        border-right: none;
    }
}

.flight-ticket__content-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

    &--booking-page {
        justify-content: space-between;
        column-gap: 30px;
    }
}

.flight-ticket__time {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &>*:first-child {
        font-weight: 600;
        font-size: 24px;
    }

    &>*:last-child {
        font-weight: 500;
        font-size: 16px;
        color: transparentize($color: $black, $amount: calc(1 - 0.6));
    }
}

.flight-ticket__spacer {
    position: relative;
    width: 168px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 36px;
        background-color: #000;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}