.hotel-reservation {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 32px 24px;
    border-radius: 12px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.hotel-reservation__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-reservation__title {
    max-width: 500px;
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 24px;
}

.hotel-reservation__middle {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 16px;
    padding: 16px 32px;
    width: 100%;
    height: 95px;
    border-radius: 8px;
    border: 0.5px solid #8DD3BB;
    background-color: #FFF;
}

.hotel-reservation__image {
    width: 63px;
    height: 63px;
    border-radius: 12px;
    overflow: hidden;

    img{
        @include image-fit(contain);
    }
}

.hotel-reservation__about {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.hotel-reservation__about-title {
    font-weight: 600;
    font-size: 24px;
}

.hotel-reservation__about-adress {
    font-weight: 500;
    color: transparentize($color: $black, $amount: calc(1 - 0.75));
}

.hotel-reservation__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-reservation__begin,
.hotel-reservation__end {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &>*:first-child {
        font-weight: 600;
        font-size: 20px;
    }

    &>*:last-child {
        font-weight: 500;
        font-size: 14px;
        color: transparentize($color: $black, $amount: calc(1 - 0.6));
    }
}

.hotel-reservation__spacer {
    position: relative;
    width: 168px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 36px;
        background-color: #000;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}