.payment-radio {
    position: relative;
}

.payment-radio__input {
    &:checked+.payment-radio__label {
        background-color: $main;

        .payment-radio__custom-input {
            border: 2px solid #FFF;

            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #FFF;
            }
        }
    }
}

.payment-radio__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 16px;
    border-radius: 12px;
}

.payment-radio__custom-input {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $black;
}

.payment-radio__label-title {
    font-weight: 700;
    font-size: 16px;
}

.payment-radio__label-title,
.payment-radio__label-text {
    max-width: 80%;
}