.slider-inner {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 196px;
    width: 100%;
    height: 537px;
}

.slider-inner__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 35, 77, 0.63) 11.46%, rgba(0, 35, 77, 0) 77.37%);
    }
}

.slider-inner__content {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-left: 24px;
    max-width: 450px;
    color: #FFF;
    z-index: 9;
}

.slider-inner__title {
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 45px;
}

.slider-inner__text {
    font-weight: 500;
    font-size: 20px;
}

.slider-inner__form-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 196px);
    width: 100%;
    z-index: 999;
}