.track-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

a.track-link{
    font-weight: 500;
    color: $accent;

    &--active{
        color: $black;
    }
}
