@import './../../../scss/base/_vars.scss';

.track-nav {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.track-nav__link,
a.track-nav__link {
    position: relative;
    margin-right: 32px;
    color: $accent;

    &::after {
        content: '';
        position: absolute;
        right: -8px;
        bottom: 0;
        width: 16px;
        height: 100%;
        transform: translateX(100%);
        background-image: url('./../../../img/icons/arrow-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}