@import './../../scss/base/_mixins.scss';

html {
	min-height: 100vh;
	scroll-behavior: smooth;
	min-width: 380px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: $montserrat;
	font-size: 14px;
	line-height: 1.2;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $black;
	background-color: $background;
	overflow-x: hidden;
}

body>* {
	flex-shrink: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	max-width: 1262px;
}

.container-right {
	margin-left: calc((100% - 1262px) / 2);
	padding-left: 30px;
	overflow-x: hidden;

	@include bp(1262px) {
		margin-left: 0;
	}
}

.bg-wrapper {
	max-width: 1440px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;

	@include bp(1322px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.none {
	display: none !important;
}

.no-scroll {
	overflow-y: hidden;
	padding-right: 17px;

	@include bp(800px) {
		padding-right: 0;
	}
}

.visually-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	// margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.footer {
	margin-top: auto;
}