@import './../../../scss/base/_vars.scss';

.drop {
    position: absolute;
    background-color: #FFF;
    z-index: 99;

    &--search {
        left: 12px;
        right: 12px;
        bottom: 12px;
        padding: 12px 18px;
        border: 1px solid #79747E;
        border-radius: 6px;
        font-size: 16px;
        transform: translateY(calc(100% + 5px));
    }

    &--calendar {
        left: 12px;
        bottom: 12px;
        max-width: 300px;
        border-radius: 6px;
        font-size: 16px;
        transform: translateY(calc(100% + 5px));
    }

    &--menu {
        bottom: 0;
        right: 0;
        padding: 32px;
        width: 329px;
        border-radius: 12px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        background-color: #FFFFFF;
        transform: translate(0, calc(100% + 5px));
    }

    &--right {
        left: unset;
        right: 12px;
    }
}