@import './../../../scss/base/_vars.scss';

.upload-cover-modal {
    max-width: 350px;
}

.upload-cover-modal__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 28px;
}

.upload-cover-modal__text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
}

.upload-cover__input-wrapper {
    margin-bottom: 24px;
    width: 100%;
}

.upload-cover__button-wrapper {
    width: 100%;
}