@import './../../../scss/base/_vars.scss';

.search-form-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-form-tabs__tab {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 16px;

    &::after {
        content: "";
        display: none;
        position: absolute;
        bottom: -15px;
        left: 32px;
        right: 32px;
        height: 4px;
        background-color: $main;
    }

    &:not(:first-child) {
        padding-left: 32px;
        border-left: 1px solid #D7E2EE;

        &::after {
            right: 0;
        }
    }

    &:not(:last-child) {
        padding-right: 32px;

        &::after {
            left: 0;
        }
    }

    &.active {
        &::after {
            display: block;
        }
    }

}