.search-form__fields--flights-full {

    &>*:nth-child(1),
    &>*:nth-child(2) {
        width: calc((100% - 4 * 24px) * 0.22);
    }

    &>*:nth-child(3),
    &>*:nth-child(4) {
        width: calc((100% - 4 * 24px) * 0.16);
    }

    &>*:nth-child(5) {
        width: calc((100% - 4 * 24px) * 0.24);
    }

    &>*:nth-child(6) {
        display: none;
    }
}

.search-form__fields--flights-short {

    &>*:nth-child(1),
    &>*:nth-child(2) {
        width: calc((100% - 5 * 24px - 56px) * 0.22);
    }

    &>*:nth-child(3),
    &>*:nth-child(4) {
        width: calc((100% - 5 * 24px - 56px) * 0.16);
    }

    &>*:nth-child(5) {
        width: calc((100% - 5 * 24px - 56px) * 0.24);
    }

    &>*:nth-child(6) {
        width: 56px;
    }
}

.search-form__field-wrapper {
    position: relative;
}

.testDrop {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% + 5px));
    padding: 12px 18px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #79747E;
    border-radius: 6px;
    font-size: 16px;
    z-index: 99;

    &.active {
        display: block;
    }

    button {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: aquamarine;
        border-radius: 5px;
    }

    input {
        display: inline-block;
        width: 50px;
        height: 30px;
        margin-left: 25px;
        margin-right: 25px;
        background-color: antiquewhite;
    }

    select {
        margin-top: 10px;
        width: 100%;
        background-color: antiquewhite;
    }
}

.testDropCalendar {
    display: none;

    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    transform: translateY(calc(100% + 5px));

    &.active {
        display: block;
    }
}