@import './../../../scss/base/_vars.scss';
@import './../../../scss/base/_mixins.scss';

// .hotel-location {}

.hotel-location__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.hotel-location__title {
    font-weight: 700;
    font-size: 20px;
}

.hotel-location__map {
    margin-bottom: 16px;
    width: 100%;
    height: 450px;
    // border-radius: 16px;

    img {
        @include image-fit(cover);
    }
}