@import './../../../scss/base/_vars.scss';

.input {
    position: relative;

    &--form {
        .input__field {
            padding: 18px 16px;
            width: 100%;
            border: 1px solid #79747E;
            border-radius: 4px;
            background-color: transparent;
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
            }

            &:focus {
                padding: 17px 15px;
                border: 2px solid $main;

                &+.input__label {
                    color: $main;
                }
            }
        }

        &.error {
            .input__field {
                padding: 17px 15px;
                border: 2px solid $accent;

                &+.input__label {
                    color: $accent;
                }
            }
        }
    }

    &--subscribe-form {
        .input__field {
            padding-left: 16px;
            padding-right: 16px;
            width: 100%;
            height: 56px;
            border-radius: 4px;
            background-color: #FFF;
        }
    }

    &--msgRight {
        .input__message {
            text-align: right;
        }
    }
}

.input__label {
    position: absolute;
    left: 12px;
    top: 0;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #FFF;
    transform: translateY(-50%);
}

.input__icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input__message {
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(100%);
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    color: $accent;
    font-weight: 500;
}