.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    z-index: 9999;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.modal__close-button {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
        stroke: #FFF;
        transform: rotate(45deg);
    }
}