@import './../../../scss/base/_vars.scss';

.account-info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 32px 24px;
    width: 100%;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.account-info__item {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.account-info__item-left {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
}

.account-info__item-title {
    font-size: 16px;
    color: transparentize($color: $black, $amount: calc(1 - 0.75))
}

.account-info__item-value {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}

.account-info__item-value input {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}

.account-info__item-right {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.account-info__button-wrapper {
    width: 140px;
}