@import './../../../scss/base/_vars.scss';

.account-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
    row-gap: 24px;
    padding: 24px;
    width: 100%;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.account-payment__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: calc((100% - 2 * 24px) / 3);
    height: 212px;
    border-radius: 16px;
    background-color: $main;
}

.account-payment__card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.account-payment__card-number {
    display: flex;
    flex-direction: column;

    &>*:first-child {
        font-weight: 600;
        font-size: 24px;
    }

    &>*:nth-child(2) {
        margin-top: -5px;
        font-weight: 600;
        font-size: 32px;
    }
}

.account-payment__card-remove-button {
    width: 24px;
    height: 24px;
}

.account-payment__card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 62px;
}

.account-payment__card-valid-thru {
    display: flex;
    flex-direction: column;

    &>*:first-child {
        font-weight: 500;
        font-size: 12px;
    }

    &>*:nth-child(2) {
        font-weight: 600;
        font-size: 20px;
    }
}

.account-payment__card-logo {
    width: 52px;
    height: 52px;
}

.account-payment__add-card {
    width: calc((100% - 2 * 24px) / 3);
    height: 212px;
}