@import './../../../scss/base/_vars.scss';

.account-tabs {
    padding-top: 32px;
}

.account-tabs__tabs-wrapper {
    margin-bottom: 40px;
}

.account-tabs__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.account-tabs__content-title {
    font-weight: 700;
    font-size: 32px;
}