@import './../../../scss/base/_mixins.scss';

$line-width: 30px;
$line-height: 3px;
$color: #fff;

$width: $line-width;
$spacer: 9px;
$height: 2 * $spacer + 3 * $line-height;

.mobile-nav-icon {
    display: none;
    width: $width;
    height: $height;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include bp(800px) {
        display: flex;
    }
}

.mobile-nav-icon__middle {
    position: relative;
    width: $line-width;
    height: $line-height;
    background-color: $color;
    transition: background-color 0s linear .2s;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: $line-width;
        height: $line-height;
        background-color: $color;
        transition: transform .2s ease-in,
            top .2s linear .2s;
    }

    &::before {
        top: -$spacer ;
    }

    &::after {
        top: $spacer;
    }
}

// .mobile-nav-icon.mobile-nav-icon--active {
//     position: fixed;
//     top: 41px;
//     right: 15px;
// }

.mobile-nav-icon.mobile-nav-icon--active .mobile-nav-icon__middle {
    background-color: transparent;

    &::before,
    &::after {
        top: 0;
        background-color: #FFF;
        transition: top .2s linear,
            transform .2s ease-in .2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}