@import './../../../scss/base/_vars.scss';
@import './../../../scss/base/_mixins.scss';

.recent-searches {
    padding-top: 80px;
}

.recent-searches__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -12px;
}