@import './../../../scss/base/_vars.scss';

.recent-searches {
    padding-top: 80px;
}

.recent-searches__cards {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: calc((100% - 4 * 250px) / 3)
}