// .project-nav-modal__content {
//     margin: 0 auto;
//     padding: 64px;
//     width: 900px;
//     border-radius: 12px;
//     background-color: #FFF;
//     cursor: default;

//     &.center {
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//     }
// }

.project-nav-modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 64px;
    border-radius: 12px;
    background-color: #FFF;
    cursor: default;
}

.project-nav-modal__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
}