@import './../../../scss/base/_vars.scss';

.hotel-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    max-height: calc(550px + 64px + 1px);
}

.hotel-gallery__item {
    overflow: hidden;

    &:first-child {
        flex-basis: 50%;
        height: 550px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    &:not(:first-child) {
        flex-basis: 25%;
        height: 271px;
    }

    &:nth-child(4) {
        border-top-right-radius: 12px;
    }

    &:nth-child(5) {
        border-bottom-right-radius: 12px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hotel-gallery__button {
    position: absolute;
    right: 16px;
    bottom: calc(64px + 16px);
}