@import './../../../scss/base/_vars.scss';

.subscribe-form {
    position: relative;
    padding: 24px;
    width: 100%;
    height: 305px;
    background-color: #CDEAE1;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 20px;
}

.subscribe-form__content {
    max-width: 600px;
}

.subscribe-form__title {
    margin-bottom: 25px;
    max-width: 360px;
    font-weight: 700;
    font-size: 44px;
}

.subscribe-form__subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    color: transparentize($black, calc(1 - 0.8));
}

.subscribe-form__text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    color: transparentize($black, calc(1 - 0.7));
}

.subscribe-form__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
}

.subscribe-form__input-wrapper{
    width: 100%;
}

.subscribe-form__button-wrapper{
    height: 56px;
}

.subscribe-form__image {
    position: absolute;
    right: 24px;
    bottom: 0;

    img {
        width: 400px;
        height: 305px;
        object-fit: contain;
    }
}